@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #E6DDC6;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}    
.cadastro-header{
    display: flex;
    height: 20px;
    width: 100%;
    background-color: rgb(201, 143, 68);
    align-items: center;
}
button{
    border: 0px;
    background: none;
}
.botao-de-voltar{
    display:flex;
    font-size: 30px;
}
.cab-text{
    display:flex;
    align-self: flex-start;
}

.cadastro-main{
    display: flex;
    background-color: rgb(85, 47, 156);
    padding-top: 10px;
    padding: 20px;
}
.left{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: brown;
}
.rigth{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: blueviolet;
    justify-content: space-between;
    
}
.descricao{
    background-color:rgb(201, 143, 68);
    margin-top: 15px;
    padding: 5px; 
    gap: 10px;
}
