body {
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: #E6DDC6;
    color: #1d1f1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    }

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.left, .right {
    width: 100%;
}

.left {
    margin-bottom: 20px;
}

.left img {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .left {
        flex: 1;
        margin-bottom: 0;
    }

    .right {
        flex: 2;
        padding-left: 40px;
    }

    .container {
        flex-wrap: nowrap;
    }
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
}

.vendedor {
    font-weight: 700;
    font-size: 0.9em;
}

.preco {
    font-size: 2em;
    margin: 10px 0;
}

.descricao, .info {
    margin-top: 25px;
}

.descricao h2, .info h2 {
    font-size: 1.2em;
    font-weight: 700;
    color: #2d3d2c;
}

.botao {
    display: block;
    padding: 12px 20px;
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

button {
    border: 0px;
    background: none;
}
.botao-de-voltar i {
    font-size: 30px;
}
.carrinho {
    background-color: #7a2f16;
    color: white;
    margin-right: 10px;
}

.conversa {
    background-color: #78a676;
    color: white;
}

.voltar {
    font-size: 1.5em;
    padding: 20px;
    display: inline-block;
}

b {
    font-weight: 700;
}