@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cadastro-body {
    display: flex;
    flex-direction: column;
    background-color: #E6DDC6;
    display: flex;
    justify-content: space-between;
  
    font-size: 15px;
    border: 0px;
}    

.cadastro-header{
    display: flex;
    height: 40px;
    width: 100%;
    color: antiquewhite;
    background-color: #722D14;
    font-size: 20px;
    gap: 30px;
}

.cab-titulo{
    width: 100%;
    justify-content: center;
}

button{
    color: antiquewhite;
    border: 0px;
    background: none;
}

.botao-de-voltar{
    margin-left: 2vh;
    font-size: 30px;
}
.cadastro-main{
    display: flex;
    margin: 2vh;
    gap: 5vh;
}
.left{
    display: flex;
}
.rigth{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    flex-grow: 155;
}
.subtitulos{
    display: flex;
    gap: 8px;
    padding: 5px; 
    font-size: 18px;
    background-color: rgb(201, 143, 68);
}
.subtexto{
    font-size: 16px;
    color:#8a4228
    
}
#descricao{
    padding: 2px;
}
.div-descricao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div-cadastrar{
    display:flex;
    justify-content: right;
    align-items: end;
    color: antiquewhite;
}
.botao-cadastrar{

    background-color: #722D14;
    border-radius: 10px;
}
