body {
    background-color: #E6DDC6;
    margin-top: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: none;
}
.menu-header0 {
    display: flex;
    justify-content: space-between;
    background-color: #722D14;
    padding: 10px;
    border-radius: 10px;}
.lateral-esquerda {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px 8px 8px;
    color: bisque;
    font-size: 20px;
    border-radius: 24px;
    gap: 10px;
}
.campo-input {
    display: flex;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: bisque;
}
.campo-input:focus {
    outline: none;
}
.botton-icon{
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 8px;
    border-radius: 24px;
    border: none;
    background-color: transparent;
    color: bisque;
    font-size: 20px;
}
.itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin-top: 0px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    width: 400px;
    height: 30px;    
    background-color:#d8ac3d;
}
.item-pesquisado {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#no-results{
    display: none;
    text-align: center;
}