@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body_inicial {
    background-color: #4a3a10;
}

#inicial_header {
    width: 150px;
}

button {
    border: 0px;
    background: none;
}

.inicial_navbar {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 150px;
    height: 96vh;
    align-items: center;
    background-color: #3a0102;
}

#inicial_perfil {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-top: 20px;
}

.inicial_icon {
    height: 60px;
    width: 60px;
}

.inicial_rodape {
    display: flex;
    background-color: #3a0102;
    flex-direction: row-reverse;
    height: 4vh;
}

#inicial_contato {
    font-size: 10px;
    color: #e6ddc6;
    margin-right: 10px;
}

.destaques_inicial {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
}

.destaques_inicial_texto {
    font-size: 40px;
    font-family: "Poppins";
    margin-left: 33vh;
}

.inicial_discos{
    display: flex;
    font-size: 40px;
    margin-left: 33vh;
    position: absolute;
    margin-top: 10vh;
    width: 100vh;
    font-family: "Poppins";
}

.inicial_livros{
    display: flex;
    font-size: 40px;
    margin-left: 33vh;
    position: absolute;
    margin-top: 48vh;
    width: 100vh;
    font-family: "Poppins";
}

#grid_discos{
    display: flex;
    margin-left: 30vh;
    position: absolute;
    margin-top: 22vh;
    width: 100vh;
    height: 25vh;
    flex-direction: row;
    gap: 40px;
    overflow-x: visible;
}

#grid_livros{
    display: flex;
    margin-left: 30vh;
    position: absolute;
    margin-top: 60vh;
    width: 100vh;
    height: 28vh;
    flex-direction: row;
    gap: 40px;
    overflow-x: visible;
}

.grid_discos {
    height: 120px;
    width: 120px;
    font-family: "Poppins";
}

.grid_livros {
    height: 120px;
    width: 120px;
    font-family: "Poppins";
}
